<div class="max-w-md mx-auto bg-white rounded-xl overflow-hidden shadow-md">
  <div class="p-6">
    <h2 class="font-bold text-xl">{{ post.title }}</h2>
    <p class="text-gray-500 text-sm mb-2">By {{ post.author }}</p>
    <p class="text-gray-700 text-base">
      {{ post.content }}
    </p>
    <div class="flex justify-between items-center mt-6">
      <p class="font-bold text-sm">{{ post.category }}</p>
      <button (click)="toggleComments()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        {{ showComments ? 'Hide' : 'Show' }} Comments
      </button>
    </div>

    <div class="mt-6" [@commentsAnimation]="showComments ? 'visible' : 'hidden'">
      <ul class="space-y-4">
        @for (comment of comments; track comment.id) {
        <li class="border-b pb-2">
          @if (editingComment?.id === comment.id) {
          <div class="flex flex-col gap-2">
            <textarea [(ngModel)]="editingComment!.content" class="w-full p-2 border border-gray-300 rounded">
              </textarea>
            <div class="flex gap-2">
              <button (click)="updateComment(editingComment!)"
                class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-3 rounded text-sm">
                Save
              </button>
              <button (click)="cancelEdit()"
                class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-1 px-3 rounded text-sm">
                Cancel
              </button>
            </div>
          </div>
          } @else {
          <div>
            <p class="font-bold text-sm">{{ comment.author }}</p>
            <p class="text-gray-500">{{ comment.content }}</p>
            @if (user?.userName === comment.author) {
            <div class="flex gap-2 mt-2">
              <button (click)="startEdit(comment)"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-3 rounded text-sm">
                Edit
              </button>
              <button (click)="deleteComment(comment.id)"
                class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-3 rounded text-sm">
                Delete
              </button>
            </div>
            }
          </div>
          }
        </li>
        }
      </ul>
      <textarea [(ngModel)]="comment" [placeholder]="user ? 'Type in your comment' : 'Login to comment'"
        [disabled]="!user" class="w-full mt-4 p-2 border border-gray-300 rounded"></textarea>
      @if (showError) {
      <p class="text-red-500 mt-1">Please type in a comment first</p>
      }
      @if (user !== null) {
      <button (click)="addComment()"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-2">Add Comment</button>
      }
    </div>
  </div>
</div>